@font-face {
    font-family: 'Open sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-style: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

html {
    font-size: 62.5%
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}

.hidden {
    display: none;
}

.header {
    font-family: Arial;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1.5px;
}

.header .wrapper {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.header .logo {
    /* margin-right: 91px; */
    width: 112px;
    height: 39px;
    background-color: red;
}

.header li {
    /* margin-right: 47px; */
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #4a4a4a;
}

.header .enter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 104px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px #f50057;
    color: #f50057;
}

.header .searchIconBox {
    cursor: pointer;
}

/* used to change the color of .search icon */
.pink {
    fill: #f50057;
}
.gray {
    fill: #4a4a4a;
}


header .searchBox {
    /* height: 96px; */
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(155, 155, 155, 0.08);
}

.searchBox .wrapper {
    display: flex;
    flex-direction: row;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

header input {
    display: block;
    height: 48px;
}

header .sendButton {
    width: 144px;
    /* height: 48px; */
    background-color: #f50057;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

header .searchField {
    /* max-width: 880px; */
    flex-grow: 10;
    padding: 5px;
    font-family: 'Open sans';
    font-size: 15px;
    color: #9b9b9b;
    /* height:  */
}

header .searchField:focus {
    border-style: none;
}